<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Simple Flashcards</title>
        <script src="{{domainUrl}}/static/main.js"></script>
    </head>
    <body>
        {{{body}}}
    </body>
</html>